header{
    margin: 40px 0px 20px 629px;
    text-align: center;
    }

    .home{

width: 69px;
height: 29px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;

color: #000000;
flex: none;
order: 0;
flex-grow: 0;
    }
    nav{
	
        margin: auto;
        
    }
    
    
    nav ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        margin: 0;
        padding: 0;
        gap: 70px;
    }
    
    nav li {
        margin-right: 40px;
    }
    
    nav a {
        color: #333;
        text-decoration: none;
        font-size:20px;
    }
    
    nav a:hover {
        color: #666;
    }

    .large{
        font-size: 50px;
        text-align: center;
    }

    .giulia{

        position: absolute;
width: 866px;
height: 421px;
left: calc(50% - 866px/2 - 25px);
top: calc(50% - 421px/2 - 830px);

font-family: 'Inter';
font-style: Bold;
font-weight: 700;
font-size: xx-large;
line-height: 116px;
text-align: center;

color: #000000;
    }
    h1{
       
    position:absolute;
    width: 633px;
    height: 116px;
    left: 445px;
    top: 440px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 116px;
    text-align: center;
    
    
    }
    
    .A{
        position: absolute;
        width: 413px;
        height: 556px;
        left: 72px;
        top: 353px;
        
        background: url(img/cami\ 2.png);
        border-radius: 23px;
    }
    
    .B{
        position: absolute;
        width: 415px;
        height: 556px;
        left: 510px;
        top: 353px;
        
        background: url(img/karlotta\ 1.png);
        border-radius: 23px;
    }
    
    .C{
        position: absolute;
    width: 414px;
    height: 562px;
    left: 950px;
    top: 350px;
    
    background: url(img/la\ boca\ 2.png);
    border-radius: 23px;
    
    }
    
    .D{
        position: absolute;
        width: 415px;
        height: 556px;
        left: 72px;
        top: 1120px;
        
        background: url(img/linn\ 2.png);
        border-radius: 23px;
    }
    
    .E{
        position: absolute;
        width: 415px;
        height: 556px;
        left: 512px;
        top: 1120px;
        
        background: url(img/tim\ 2.png);
        border-radius: 23px;    
    }
    
    .F{
        position: absolute;
        width: 413px;
        height: 556px;
        left: 952px;
        top: 1120px;
        
        background: url(img/xoana\ 2.png);
        border-radius: 23px;
        
    }
    
    
    .nome4{
        position: absolute;
        width: 68px;
        height: 58px;
        left: 246px;
        top: 1682px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        
        color: #000000;  
    }
    
    
    
    
    .nome1{
    
    position: absolute;
    width: 115px;
    height: 58px;
    left: 223px;
    top: 912px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    
    color: #000000;
    }
    
    
    .nome5{
    
    position: absolute;
    width: 85px;
    height: 58px;
    left: 679px;
    top: 1682px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    
    color: #000000;
    }
    
    
    
    .nome6{
    
    position: absolute;
    width: 112px;
    height: 58px;
    left: 1104px;
    top: 1682px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    
    color: #000000;
    }
    
    
    
    .nome2{
    
    position: absolute;
    width: 133px;
    height: 58px;
    left: 655px;
    top: 912px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    
    color: #000000;
    }
    
    
    
    .nome3{
    
    position: absolute;
    width: 70px;
    height: 58px;
    left: 1125px;
    top: 912px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    
    color: #000000;
    
    }
    
    main{
        max-width: 1350px;
        margin: 0 auto 0 auto;
        padding: 20px;
        align-items: center;
        position: relative;
    }